body {
  background: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  padding: 65px 0 0 5px;
}

ul {
  list-style: none;
}
#main-icon {
  width: 160px;
  padding-left: 28px;
  padding-bottom: 15px;
}
.todays-conditions {
  text-align: left;
}
#parent {
  display: flex;
}
#narrow {
  width: 300px;
}
#wide {
  flex: 1;
  padding: 25px 0 0 0;
}
.card {
  margin: 25px 0 0 0;
  background: transparent;
  text-align: center;
}

.icons {
  max-width: 75px;
}
#search-bar {
  max-width: 275px;
}
#submit-city {
  border: none;
  background-color: transparent;
  padding-top: 0;
}
#submit-city:hover {
  cursor: pointer;
  border: none;
}

#input {
  border-radius: 4px;
  height: 38px;
}
footer {
  text-align: right;
  font-size: smaller;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}
div.container {
  max-width: 60%;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  border-style: double;
  border-color: rgb(223, 223, 223);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(239, 246, 249) 0%,
    rgb(206, 239, 253) 90%
  );
}

.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
